.info_form1 {
  margin-top: 5%;
}

.info_form1 h1 {
  text-align: center;
  font-size: 60px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.info_form1 p {
  margin-top: 5%;
  text-align: center;
  font-size: larger;
}

.form1 {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 70vh; */
}

.customer_call {
  text-align: center;
  padding: 60px;
  color: grey;
  margin-bottom: 5%;
}
.profession {
  width: 22%;
}
.profession select {
  padding: 15px 20px;
  margin: 20px;
  appearance: none;
  font-size: 15px;
  border-radius: 5px;
}

.get_quote button {
  background-color: crimson;
  color: white;
  padding: 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  
}

.get_quote button:hover {
  opacity: 0.8;
}

/* form 2  and form 3*/

.form2 {
  margin: 60px;
  border: 2px solid #ccc;
  border-radius: 20px;
}

.input_label {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  width: 40%;
  text-align: right;
  margin-right: 3%;
}





.type_of_insurance {
  margin-top: 5%;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

.input select {
  padding: 10px;
  /* margin: 20px; */
  appearance: none;
  border-radius: 5px;
}
.select_asset {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select_asset .label {
  width: 100%;
  text-align: center;
  margin-right: 0%;
  font-size: 18px;
}



/* form 5 */
.form5 {
  border: 2px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.form5 p {
  font-size: 50px;
  color: #ccc;
}

@media only screen and (max-width:600px)
{
.info_form1 h1 {
  /* text-align: center; */
  font-size: 30px;
  margin-right: 15px;
  margin-left: 7px;
}
.info_form1 p{
  margin-left: 30px;
  margin-right: 30px;
}
.form1 label{
  margin-left: 70px;
  margin-right: 25px;
}
.get_quote button {
  margin-left: 70px;
  margin-right: 30px;
}
.profession{
  margin-right: 128px;
} 
.customer_call{
  margin-right: 15px;
  
}
}