* {
  font-family: Arial, Helvetica, sans-serif;
}

.register {
  min-height: 135vh;
}
.login {
  min-height: 100vh;
}

.main_container {
  border: 1px solid #f1f1f1;
  padding: 8px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: auto;
  margin-top: auto;
  width: 50%;
}

.container {
  padding: 16px;
}

.form {
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.h2 {
  text-align: center;
  padding: 8px;
  margin-bottom: 3px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

.gender input,
label {
  margin-right: 10px;
}

.btn {
  background-color: rgb(14, 108, 185);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

.btn:hover {
  opacity: 0.8;
}

span {
  padding: 0px;
}
span.forgot {
  float: right;
}
